body{
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    color: #434455;
}
ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
img {
    display: block;
}
.container{
max-width: 1158px;
padding: 0 15px;
margin: 0 auto;
}
    /*header*/
.page-header{
    border-bottom: 1px solid #e7e9fc;
    box-shadow:0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);

}
.header-container{
    display: flex;
    align-items: center;
}
.header-nav{
     display: flex;
    align-items: center;
}

.logo,
.header-logo,
.logo-footer{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
}
.header-logo .logo-part{
color: #2e2f42;
text-transform: uppercase;
}
.header-logo{
    padding: 24px 0;
    margin-right: 76px;
}
.nav-list{
display: flex;
align-items: center;
gap: 40px;
}
.nav-link{
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
padding: 24px 0;
display: block;
}
.nav-link,
.nav-link-studio {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    display: block;
}

.nav-link-studio {
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.nav-link-studio::after{
    content: '' ;
    width: 100%;
    position: absolute; 
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}
.contacts{
    font-style: normal;
    margin-left: auto;
}
.contacts-list{
    display: flex;
align-items: center;
  gap: 40px;
}
.contacts-link{
    display: block;
    padding: 24px 0;
  
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus{
  color: #404bbf;}
                /*section-hero*/
.section-hero,
.page-footer{
    background-color: #2e2f42;
    margin: 0 auto;
}
.section-hero{
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
         url(../images/people-office.jpg);
    max-width: 1440px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 188px 0;
}
.hero-title{
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        max-width: 496px;
        margin: auto;
        margin-bottom: 48px;
        
}
.footer-subscribe-button,
.hero-button{
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        background-color: #4d5ae5;
        border-radius: 4px;
            display: block;
            min-width: 169px;
        padding: 16px 32px;
        margin: auto;
            border: none;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        cursor: pointer;
}
.button-contacts-sent:hover,
.button-contacts-sent:focus,
.hero-button:hover,
.footer-subscribe-button:hover,
.footer-subscribe-button:focus,
.hero-button:focus{
    background-color: #404bbf;
}
/*section-info*/
.section-info{
    padding: 120px 0;
}
.info-antenna{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
}
.info-heading{
position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.info-list{
    display: flex;
    gap: 24px;
}
.info-iten{
width: calc((100% - 72px) / 4);
}
.info-under{
    margin-bottom: 8px;
}
.portfolio-under,
.team-under,
.info-under{
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
.footer-text,
.portfolio-text,
.team-text,
.info-text{
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
/*section-team*/
.section-team{
    background-color: #f4f4fd;
    padding: 120px 0;
}
.team-heading{
margin-bottom: 72px;
}
.team-list{
    display: flex;
    gap: 24px
}
.team-iten{
    background-color: #FFFFFF;
    margin-right: 0;
    width: calc((100% - 3 * 24px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-text-container{
    padding: 32px 0;
    text-align: center;
  
}
.team-meregi-list{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
}
.team-meregi-iten{
    width: 40px;
    height: 40px;
}
.team-meregi-link{
    width: 100%;
    height: 100%;
    background-color:#4d5ae5;
    border-radius:50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-meregi-link:hover,
.team-meregi-link:focus {
background-color: #404bbf;
}
.team-meregi-svg,
.footer-subscribe-frame{
    fill: #f4f4fd;
}

.portfolio-heading,
.team-heading{
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize
}
.team-text{
    text-align: center;
}
.team-under{
    text-align: center;
    margin-bottom: 8px;
}

/*section-portfolio*/
.section-portfolio{
    padding: 120px 0;
}
.portfolio-heading{
    margin-bottom: 72px;
}
.portfolio-list{
    display: flex;
    column-gap: 24px;
    row-gap: 48px;
    flex-wrap: wrap;
   
}
.portfolio-item{
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover{
box-shadow:0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);

}
.portfolio-item:hover .portfolio-image-text {
    transform: translateY(0%);
}
.portfolio-image{
    position: relative;
    overflow: hidden;
    
}
.portfolio-image-text{
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.portfolio-text-container{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.portfolio-under{
    margin-bottom: 8px
}
/*page-footer*/
.page-footer {
    padding: 100px 0;
    background-color: #2e2f42;
    
}
.footer-container{
display: flex;
    align-items: baseline;
}
.footer-logo{
    display: inline-block;
    margin-bottom: 16px;
    
}
.logo-part-footer{
color: #f4f4fd;
}
.footer-text{
    color: #f4f4fd;
    max-width: 264px;
}
.footer-logo-text{
margin-right: 120px
}

.footer-media-text{

}
.footer-text{
font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
margin-bottom: 16px;

}
.footer-media{
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #fff;
        margin-bottom: 16px;
}
.footer-meregi-list{
display: flex;
gap: 16px;
}
.footer-meregi-iten{
width: 40px;
height: 40px;
}
.footer-meregi-link:hover,
.footer-meregi-link:focus {
    background-color: #31d0aa;
}
.footer-subscribe{
margin-left: 80px;
}
.footer-subscribe-form{
      display: flex;
      margin-top: 16px;
    gap: 24px;
}
.footer-subscribe-label{
    
}
.footer-subscribe-input{
border-radius: 4px;
      border: 1px solid #fff;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
      width: 264px;
      height: 40px;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    background-color: transparent;
      color: #fff;
}
.footer-subscribe-input::placeholder{  
color: #fff;
}
.footer-subscribe-button{
         min-width: 165px;
        padding: 8px 24px;
         display: flex;
    justify-content: center;
    margin-left: 24px;
    align-items: center;
}
.footer-subscribe-frame{
    margin-left: 16px;
}
   /*contacts-container  modal-overlay*/
/* Backdrop */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

/* Modal */
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    background-color: #fcfcfc;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 72px 24px 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Close button */
.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-icon {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover{
        background-color: #404bbf;
            border: none;
}
.modal-close-btn:focus{
    background-color: #404bbf;
    border: none;
}


.modal-close-btn:hover .modal-close-icon{
    fill: #ffffff;
}
.modal-close-btn:focus .modal-close-icon{
    fill: #ffffff;
}

/* Title */
.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 16px;
}

/* Form */
.contacts-form-field {
    margin-bottom: 8px;
}
.contacts-form-field-comment{
    margin-bottom: 16px;
}

.contacts-form-label {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.contacts-form-input-wrapper {
    position: relative;
}

.contacts-form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding-left: 38px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-form-input:focus {
    border-color: #4d5ae5;
}

.contacts-form-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-form-input:focus+.contacts-form-icon {
    fill: #4d5ae5;
}

/* Textarea */
.contacts-form-message {
    height: 120px;
    resize: none;
    padding: 8px 16px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.contacts-form-message::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

/* Checkbox */
.contacts-form-checkbox-wrapper {
    margin-bottom: 24px;
}

.contacts-form-checkbox-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: flex;
    align-items: center;
}

.privacy-policy-checkbox {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: transparent;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
.contacts-form-checkbox-input:checked+.contacts-form-checkbox-label
 .privacy-policy-checkbox {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}
.privacy-policy-link {
    color: #4d5ae5;
    text-decoration: underline;
}

/* Submit button */
.contacts-form-submit-btn {
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-form-submit-btn:hover,
.contacts-form-submit-btn:focus {
    background-color: #404bbf;
}